body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-card {
  max-width: 40rem;
  width: 90%; /* para mobile */         /* continua responsivo */
  max-width: 400px;    /* não cresce demais */
  min-width: 300px;    /* não afina demais */
  margin: 5rem auto;
  background: var(--color-surface-dark);
  padding: 2rem 3rem;
  border-radius: 10px;
}

.login-card form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* centraliza os divs horizontalmente */
  border-bottom: solid 1px var(--color-border);
}

.login-card form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* labels alinhados à esquerda */
  width: 100%; /* largura fixa dos inputs */
  max-width: 300px; /* evita que fique muito grande em telas grandes */
  margin-bottom: 1.2rem;
}

.login-card form label {
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.login-card form input {
  width: 100%; /* ocupa toda a largura do div */
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  border-bottom: 1px solid var(--color-border);
  box-sizing: border-box;
}

.login-card form button{
  width: 100%;
}

.span-container{
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  button:hover{
    background-color: var(--color-bg-light);
    color: var(--color-text-light);
  }
}



/* Responsividade */
@media (max-width: 480px) {
  .login-card form div {
    width: 100%; /* ocupa toda a largura do card em mobile */
  }
}


